.cashback {
	@include adaptiveValue("padding-top", 60, 10);
	@include adaptiveValue("padding-bottom", 30, 10);
}

.cashback-items {
	display: flex;
	flex-direction: column;
	max-width: 580px;
	margin: 0 auto;
	text-align: center;

	  .btn {
			display: block;
			max-width: 237px;
			margin: 46px auto 0 auto;
		}
}
