.clients {
	margin: 30px auto;
}

.clients-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	@include adaptiveValue("gap", 107, 30);
	@include adaptiveValue("row-gap", 60, 30);
	@media (max-width: 1150px){
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 850px){
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 550px){
		grid-template-columns: repeat(1, 1fr);
	}
	justify-items: center;
	}

.client-item {
	display: inline-block;
	
	  svg {
			transition: 1s;
			display: block;

			 &:hover {
				transform: scale(1.2);
			 }
		}
}

.clients-icon {
	width: 193px;
	height: 70px;
	}
