.oneacc {
	@include adaptiveValue("padding-top", 53, 10);
	@include adaptiveValue("padding-bottom", 67, 10);
}

.oneacc-items {
	display: flex;
	gap: 135px;
	@media (max-width: $breakpoint992){
		gap: 30px;
		flex-direction: column;
	}
}

.oneacc-img {
	min-width: 585px;
	
	@media (max-width: $breakpoint992){
		min-width: auto;
		max-width: 585px;
	}
}

.oneacc-img__fixedratio {
  padding-top: 89.23%;
	background-image: url(../img/oneacc.jpg);
  background-size: cover;
	background-position: center;
}

.oneacc-text {
display: flex;
}

.oneacc-text__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 42px;
	@media (max-width: $breakpoint992){
		padding-bottom: 10px;
	}
}