.shopping {
	@include adaptiveValue("padding-top", 57, 10);
	@include adaptiveValue("padding-bottom", 63, 10);
}

.shopping-items {
	display: flex;
	gap: 135px;
	@media (max-width: $breakpoint992){
		gap: 30px;
		flex-direction: column-reverse;
	}
}

.shopping-img {
	min-width: 585px;
	
	@media (max-width: $breakpoint992){
		min-width: auto;
		max-width: 585px;
	}
}

.shopping-img__fixedratio {
  padding-top: 72.13%;
	background-image: url(../img/shopping.jpg);
  background-size: cover;
	background-position: center;
}

.shopping-text {
display: flex;
}

.shopping-text__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 19px;
	@media (max-width: $breakpoint992){
		padding-bottom: 10px;
	}
}