// Container & Breakpoints
@use 'sass:math';
$maxWidth: 1440;
$minWidth: 320;
$maxWidthContainer: 1110;
$containerPadding: 90;
$containerWidth: $maxWidthContainer + $containerPadding;
$containerSidePadding: math.div($containerPadding, 2);
$containerSideMobilePadding: math.div($containerPadding, 4);
$breakpoint1450: 1449.98 + px;
$breakpoint1038: 1037.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #222222;
$white: #FFFFFF;
$black: #000000;
$grey: #AAAAAA;



// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: $mainColor;
$burgerActiveColor: $mainColor;

// Fonts
$fontMain: 'Nunito', sans-serif;
$fontSecondary: '';

