.waranty {
	@include adaptiveValue("padding-top", 23, 10);
	@include adaptiveValue("padding-bottom", 99, 10);
}

.waranty-items {
	display: flex;
	gap: 135px;
	@media (max-width: $breakpoint992){
		gap: 30px;
		flex-direction: column-reverse;
	}
}

.waranty-img {
	min-width: 585px;
	
	@media (max-width: $breakpoint992){
		min-width: auto;
		max-width: 585px;
	}
}

.waranty-img__fixedratio {
  padding-top: 112.3%;
	background-image: url(../img/waranty.jpg);
  background-size: cover;
	background-position: center;
}

.waranty-text {
display: flex;
}

.waranty-text__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 112px;
	@media (max-width: $breakpoint992){
		padding-bottom: 10px;
	}
}